body{
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
}
/* bg photo */
#home{
    background-repeat: no-repeat;
    background-size: cover;
}
/* content on home page*/
.content{
    margin-top: 180px;
    margin-bottom: 410px;
    color: white;
}

/* navigatin bar */
.hi a{
    text-decoration: none;
    color:white;
    margin: auto;
    text-transform: uppercase;
}
.hi a:hover{
    text-decoration: underline;
    color: white;
}
nav ul {
    display: inline-block;
    padding-right: 300px;
}
nav ul li{
    padding-left: 50px;
}

/* about section*/

.row{
    border: 3px solid black;
}
.first{
    margin-top: 2%;
    margin-left: 20px;
    margin-bottom: 20px;
}
.second{
    line-height: 35px;
    margin-top: 2%;
    margin-bottom: 20px;
}
